/* start of font face definitions */

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* end of font face definitions */

/* start of general styling */

html, body {
  overflow-x: hidden;
}

html {
  font-family: Arial, Helvetica, sans-serif; /* fallback */
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* end of general styling */

#main-header {
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  #main-header {
    padding: 16px 20px;
  }
}

#foodway-logo {
  height: 60px;
}
@media screen and (max-width: 480px) {
  #foodway-logo {
    height: 40px;
  }
}

#weekly-sale-button {
  position: absolute;
  right: 280px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  border: 2px solid #f44336;
  color: #f44336;
  font-family: "Do Hyeon";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
@media screen and (max-width: 480px) {
  #weekly-sale-button {
    display: none;
  }
}

#weekly-sale-logo {
  width: 20px;
}

#order-button {
  display: flex;
  height: 48px;
  margin-top: 4px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Neutral-300, #061023);
  color: var(--Neutral-White, #fff);
  font-family: "Do Hyeon";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
@media screen and (max-width: 480px) {
  #order-button {
    display: none;
  }
}

#affiliates {
  display: flex;
  padding: 12px 80px;
  align-items: center;
  gap: 20px;
  background: var(--Neutral-25, #f7f7f7);

  /* Body Md/Medium */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%; /* 21.28px */
}
@media screen and (max-width: 480px) {
  #affiliates {
    padding: 12px 16px;
    gap: 8px;

    font-size: 14px;
  }
}

#affiliates-intro-text {
  color: var(--Brown-100, #8c7f7c);
}

.affiliate {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--Brown-200, #64524e);
}

.banner {
  width: 100%;
}

@media screen and (max-width: 480px) {
  #banner-desktop {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  #banner-mobile {
    display: none;
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 64px;
}

#main-nav {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media screen and (min-width: 481px) {
  #main-nav {
    padding: 20px 16px;
    gap: 20px;
  }
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  color: var(--Brown-300, #3c2520);
  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 480px) {
  #introduction {
    gap: 8px;
  }
}

#intro-line-1 {
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  #intro-line-1 {
    font-size: 18px;
  }
}

#intro-line-2 {
  font-size: 48px;
}
@media screen and (max-width: 480px) {
  #intro-line-2 {
    font-size: 24px;
  }
}

#categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  #categories {
    gap: 8px;
  }
}

.category {
  border-radius: 20px;
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .category {
    width: 172px;
    height: 172px;
  }
}

.category-text {
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  border-radius: 20px;

  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  color: var(--Neutral-White, #fff);
  text-align: center;

  /* Elevation/Md */
  text-shadow: 0px 0px 4px rgba(60, 37, 32, 0.8),
    0px 4px 40px rgba(100, 82, 78, 0.6);

  /* Header/H2 */
  font-family: "Do Hyeon";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40px */
}

@media screen and (max-width: 480px) {
  .category-text {
    width: 172px;
    height: 172px;
  }
}

#noodles {
  background: url(images/categories/noodles.png) lightgray 50% / cover no-repeat;
}

#bols {
  background: url(images/categories/bols.png) lightgray 50% / cover no-repeat;
}

#quick-bites {
  background: url(images/categories/quick_bites.png) lightgray 50% / cover
    no-repeat;
}

#groceries-and-snacks {
  background: url(images/categories/groceries_and_snacks.png) lightgray 50% /
    cover no-repeat;
}

#specials {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 480px) {
  #specials {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    gap: 20px;
  }
}

#specials-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media screen and (max-width: 480px) {
  #specials-header {
    gap: 8px;
    line-height: 133%;
  }
}

#specials-subtitle {
  color: var(--Brown-100, #8c7f7c);

  font-size: 20px;
}
@media screen and (max-width: 480px) {
  #specials-subtitle {
    font-size: 18px;
  }
}

#specials-title {
  color: var(--Brown-300, #3c2520);

  font-size: 48px;
}
@media screen and (max-width: 480px) {
  #specials-title {
    font-size: 24px;
  }
}

#specials-tab-group {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
@media screen and (max-width: 480px) {
  #specials-tab-group {
    display: none;
  }
}

.tab-button {
  display: flex;
  width: 160px;
  height: 54px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 100px;
  border: 1px solid white;
  background: var(--Neutral-White, #fff);

  color: var(--Brown-100, #8c7f7c);
  text-align: center;

  /* Header/H5 */
  font-family: "Do Hyeon";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
}

.tab-button.active {
  border: 1px solid var(--Brown-50, #b4aba9);
  background: var(--Neutral-White, #fff);

  color: var(--Brown-300, #3c2520);
}

#specials-mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
@media screen and (min-width: 481px) {
  #specials-mobile-nav {
    display: none;
  }
}

#day-of-the-week {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 100px;
  border: 1px solid var(--Brown-50, #b4aba9);
  background: var(--Backgrounds-Primary, #fff);

  color: var(--Brown-300, #3c2520);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Header/H6 */
  font-family: "Do Hyeon";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 23.94px */
}

.mobile-nav-button {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  border: 1px solid var(--Brown-50, #b4aba9);
  background: var(--Backgrounds-Primary, #fff);
}

.special-card {
  width: 1000px;
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 60px;

  border-radius: 32px;
  border: 1px solid var(--Brown-25, #e7e4e3);
  background: var(--Neutral-White, #fff);

  /* Elevation/Sm */
  box-shadow: 0px 4px 20px 4px rgba(60, 37, 32, 0.08);
}
@media screen and (max-width: 480px) {
  .special-card {
    width: 320px;
    flex-direction: column;
    padding: 20px;
    gap: 40px;

    border-radius: 20px;
  }
}

.special-image {
  display: flex;
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 24px;
  background: #fff;
}
@media screen and (max-width: 480px) {
  .special-image {
    width: 320px;
    border-radius: 16px;
  }
}

.special-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
@media screen and (max-width: 480px) {
  .special-text {
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .special-card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
}

.special-title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
@media screen and (max-width: 480px) {
  .special-title {
    gap: 8px;
  }
}

.special-name {
  color: var(--Brown-300, #3c2520);

  /* Header/H3 */
  font-family: "Do Hyeon";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
}
@media screen and (max-width: 480px) {
  .special-name {
    font-size: 20px;
    line-height: 133%;
  }
}

.special-energy {
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  background: #26aa53;

  color: var(--Neutral-White, #fff);

  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%; /* 21.28px */
}
@media screen and (max-width: 480px) {
  .special-energy {
    padding: 4px 16px;

    font-size: 12px;
    line-height: 133%;
  }
}

.special-price {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.special-discounted-price {
  color: var(--Brown-200, #64524e);

  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%; /* 26.6px */
}
@media screen and (max-width: 480px) {
  .special-discounted-price {
    font-size: 16px;
  }
}

.special-regular-price {
  color: #c3a69f;

  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133%; /* 23.94px */

  text-decoration: line-through solid #c3a69f 2px;
}
@media screen and (max-width: 480px) {
  .special-regular-price {
    font-size: 14px;
  }
}

.special-description {
  align-self: stretch;
  color: var(--Brown-200, #64524e);

  /* Body Md/Regular */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 21.28px */
}
@media screen and (max-width: 480px) {
  .special-regular-price {
    font-size: 14px;
  }
}

.cart-button {
  height: 32px;

  display: flex;
  padding: 8px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 12px;
  border: 3px solid var(--Brown-300, #3c2520);
  background: var(--Neutral-White, #fff);

  color: var(--Brown-300, #3c2520);
  font-family: "Do Hyeon";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
@media screen and (min-width: 481px) {
  .cart-button {
    width: 120px;
  }
}

#location-section {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 480px) {
  #location-section {
    padding: 20px 16px;
    gap: 20px;
  }
}

#location-header {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media screen and (max-width: 480px) {
  #location-header {
    gap: 0px;
    line-height: 133%;
  }
}

#location-title {
  color: var(--Brown-300, #3c2520);

  font-size: 48px;
}
@media screen and (max-width: 480px) {
  #location-title {
    font-size: 24px;
  }
}

#location-title-decoration-desktop {
  z-index: -1;
  position: relative;
  top: -20px;
}
@media screen and (max-width: 480px) {
  #location-title-decoration-desktop {
    display: none;
  }
}

#location-title-decoration-mobile {
  z-index: -1;
  position: relative;
  top: -10px;
}
@media screen and (min-width: 481px) {
  #location-title-decoration-mobile {
    display: none;
  }
}

#location-subtitle {
  width: 70%;
  color: var(--Brown-200, #64524e);
  text-align: center;

  font-size: 20px;
}
@media screen and (max-width: 480px) {
  #location-subtitle {
    font-size: 14px;
  }
}

#location-content {
  display: flex;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 480px) {
  #location-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
  }
}

#google-map {
  width: 560px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--Gray-5, #e0e0e0);
  background: #fff;
  box-shadow: 0px 0px 20px 4px rgba(37, 63, 68, 0.08);
}
@media screen and (max-width: 480px) {
  #google-map {
    width: 340px;
    height: 260px;
  }
}

#location-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}
@media screen and (max-width: 480px) {
  #location-text {
    gap: 8px;
  }
}

#location-details {
  display: flex;
  padding: 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 20px;
  background: #f5f5f5;
}
@media screen and (max-width: 480px) {
  #location-details {
    padding: 16px;
    gap: 8px;
  }
}

#address {
  align-self: stretch;
  color: #000;
  font-family: "Do Hyeon";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 480px) {
  #address {
    font-size: 16px;
    font-weight: 400;
    line-height: 133%;
  }
}

#opening-hours {
  align-self: stretch;
  color: #686868;
  font-family: "Do Hyeon";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 480px) {
  #opening-hours {
    font-family: Outfit;
    font-size: 14px;
    font-weight: 600;
    line-height: 133%;
  }
}

#contact-details {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 480px) {
  #contact-details {
    padding: 16px;
    gap: 16px;

    line-height: 133%;
    text-align: center;
  }
}

#enquiries-text {
  align-self: stretch;
  color: #000;

  font-size: 24px;
}
@media screen and (max-width: 480px) {
  #enquiries-text {
    font-size: 14px;
  }
}

#contact-methods {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
@media screen and (max-width: 480px) {
  #contact-methods {
    gap: 8px;
  }
}

.contact-method {
  display: flex;
  align-items: center;
  gap: 16px;
  /* align-self: stretch;
  flex: 1 0 0; */
  color: #686868;

  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .contact-method {
    font-size: 14px;
    margin: auto;
  }
}

#main-footer {
  display: flex;
  width: calc(100% - 160px);
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  border-top: 1px solid var(--Brown-25, #e7e4e3);
}

@media screen and (max-width: 480px) {
  #main-footer {
    width: calc(100% - 40px);
    padding: 40px 20px 140px 20px;
    gap: 20px;
  }
}

#copyright {
  color: var(--Brown-200, #64524e);
  text-align: center;

  /* Header/H6 */
  font-family: "Do Hyeon";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 23.94px */
}

@media screen and (max-width: 480px) {
  #copyright {
    font-size: 14px;
  }
}

#social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 480px) {
  #social-media {
    gap: 8px;
  }
}

.social-medium {
  color: var(--Brown-200, #64524e);

  /* Body Md/Medium */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%; /* 21.28px */
}

@media screen and (max-width: 480px) {
  #social-medium {
    font-size: 14px;
  }
}

/* start of subpages styling */

#subpage-header {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#subpage-title {
  color: var(--Brown-300, #3c2520);
  text-align: center;

  /* Header/H1 */
  font-family: "Do Hyeon";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 63.84px */
}

#subpage-subtitle {
  align-self: stretch;

  color: var(--Brown-200, #64524e);
  text-align: center;

  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%; /* 26.6px */
}

#subpage-images {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.subpage-image {
  border-radius: 20px;
}

/* end of subpages styling */
