/* start of font face definitions */

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* end of font face definitions */

/* start of general styling */

html {
  font-family: Arial, Helvetica, sans-serif; /* fallback */
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* end of general styling */

#landing-header {
  display: flex;
  height: 200px;
  padding: 0px 80px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

#foodway-logo {
  position: absolute;
  left: calc(50% - 170px);
  width: 340px;
  height: 120px;
}

#order-button {
  position: absolute;
  left: calc(100% - 320px);
  display: flex;
  width: 200px;
  height: 60px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #000;
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  width: 100%;
}

#introduction {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

#intro-line-1 {
  color: #000;
  font-family: "BM DoHyeon";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#intro-line-2 {
  color: #000;
  font-family: "BM DoHyeon";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#categories {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
}

.category {
  display: flex;
  align-items: center;
  gap: 80px;
}

.category-text {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.category-title {
  color: #000;
  font-family: "BM DoHyeon";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.category-description {
  align-self: stretch;
  color: var(--Gray-3, #828282);
  font-family: "BM DoHyeon";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.category-picture {
  display: flex;
  align-items: center;
}
