/* start of font face definitions */

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* end of font face definitions */

/* start of general styling */

html {
  font-family: Arial, Helvetica, sans-serif; /* fallback */
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* end of general styling */

#affiliates {
  display: flex;
  padding: 12px 80px;
  align-items: center;
  gap: 20px;
  background: var(--Neutral-25, #f7f7f7);

  /* Body Md/Medium */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%; /* 21.28px */

  @media (width < 480px) {
    padding: 12px 16px;
    gap: 8px;

    font-size: 14px;
  }
}

#affiliates-intro-text {
  color: var(--Brown-100, #8c7f7c);
}

.affiliate {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--Brown-200, #64524e);
}

/* start of top bar styling */

#top-bar {
  z-index: 2;
  position: sticky;
  top: 0px;

  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--Neutral-25, #f7f7f7);
  background: var(--Neutral-White, #fff);
  box-shadow: 0px 4px 20px 4px rgba(6, 16, 35, 0.04);

  @media (width < 480px) {
    padding: 16px 20px;
  }
}

#top-bar.landing-top-bar {
  @media (width < 480px) {
    justify-content: center;
  }
}

#back-button {
  display: none;

  @media (width < 480px) {
    display: block;
  }
}

#back-button-counterweight {
  display: none;

  @media (width < 480px) {
    display: block;
    width: 24px;
    height: 24px;
  }
}

#foodway-logo {
  height: 60px;

  @media (width < 480px) {
    height: 40px;
  }
}

#top-bar-buttons {
  display: flex;
  align-items: center;
  gap: 20px;

  position: absolute;
  right: 80px;

  @media (width < 480px) {
    display: none;
  }
}

#weekly-sale-button-desktop {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;

  border-radius: 12px;
  border: 2px solid var(--Special-Red, #f44336);
  background: var(--Neutral-White, #fff);

  color: #f44336;
  font-family: "Do Hyeon";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

#weekly-sale-logo {
  width: 20px;
}

#order-button-desktop {
  display: flex;
  padding: 8px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 12px;
  background: var(--Neutral-300, #061023);

  color: var(--Neutral-White, #fff);
  font-family: "Do Hyeon";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/* end of top bar styling */

/* start of banner styling */

#banner {
  width: 100%;
  height: 480px;

  @media (width < 480px) {
    height: 360px;
  }
}

#banner-video {
  width: 100%;
  height: 480px;
  object-fit: cover;

  @media (width < 480px) {
    height: 360px;
  }
}

#banner-overlay {
  width: 100%;
  height: 480px;
  background: linear-gradient(
    90deg,
    rgba(25, 13, 13, 0.9) 20%,
    rgba(24, 11, 11, 0.05) 70%
  );

  position: relative;
  top: -484px;
  z-index: 1;

  display: flex;
  align-items: center;

  @media (width < 480px) {
    height: 360px;
    background: linear-gradient(
      0deg,
      rgba(24, 11, 11, 0.9) 20%,
      rgba(24, 11, 11, 0.05) 70%
    );

    top: -364px;

    align-items: flex-end;
  }
}

#banner-overlay-text {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  margin-left: 80px;

  @media (width < 480px) {
    padding: 32px;
    justify-content: center;

    margin-left: 0px;
  }
}

#banner-title {
  align-self: stretch;
  color: var(--Neutral-White, var(--Backgrounds-Primary, #fff));

  /* Header/H2 */
  font-family: "Do Hyeon";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 53.2px */

  @media (width < 480px) {
    font-size: 24px;
  }
}

#banner-subtitle {
  align-self: stretch;
  color: var(--Neutral-White, var(--Backgrounds-Primary, #fff));

  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%; /* 31.92px */

  @media (width < 480px) {
    font-size: 16px;
  }
}

/* end of banner styling */

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  margin-top: 40px;

  @media (width < 480px) {
    gap: 40px;

    margin-top: 20px;
  }
}

#main-nav {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @media (width < 480px) {
    padding: 20px 0px;
    gap: 20px;
  }
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  color: var(--Brown-300, #3c2520);
  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (width < 480px) {
    gap: 8px;
  }
}

#intro-line-1 {
  font-size: 24px;

  @media (width < 480px) {
    font-size: 18px;
  }
}

#intro-line-2 {
  font-size: 48px;

  @media (width < 480px) {
    font-size: 24px;
  }
}

#categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;

  @media (width < 480px) {
    gap: 8px;
  }
}

.category {
  border-radius: 20px;
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;

  @media (width < 480px) {
    width: 172px;
    height: 172px;
  }
}

.category-text {
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  border-radius: 20px;

  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  color: var(--Neutral-White, #fff);
  text-align: center;

  /* Elevation/Md */
  text-shadow: 0px 0px 4px rgba(60, 37, 32, 0.8),
    0px 4px 40px rgba(100, 82, 78, 0.6);

  /* Header/H2 */
  font-family: "Do Hyeon";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40px */

  @media (width < 480px) {
    width: 172px;
    height: 172px;
  }
}

#noodles {
  background: url(./assets/categories/noodles.png) lightgray 50% / cover
    no-repeat;
}

#bols {
  background: url(./assets/categories/bols.png) lightgray 50% / cover no-repeat;
}

#quick-bites {
  background: url(./assets/categories/quick_bites.png) lightgray 50% / cover
    no-repeat;
}

#groceries-and-snacks {
  background: url(./assets/categories/groceries_and_snacks.png) lightgray 50% /
    cover no-repeat;
}

#specials {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (width < 480px) {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    gap: 20px;
  }
}

#specials-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  @media (width < 480px) {
    gap: 8px;
    line-height: 133%;
  }
}

#specials-subtitle {
  color: var(--Brown-100, #8c7f7c);

  font-size: 20px;

  @media (width < 480px) {
    font-size: 18px;
  }
}

#specials-title {
  color: var(--Brown-300, #3c2520);

  font-size: 48px;

  @media (width < 480px) {
    font-size: 24px;
  }
}

#specials-tab-group {
  display: flex;
  align-items: flex-start;
  gap: 4px;

  @media (width < 480px) {
    display: none;
  }
}

.tab-button {
  display: flex;
  width: 160px;
  height: 54px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 100px;
  border: 1px solid white;
  background: var(--Neutral-White, #fff);

  color: var(--Brown-100, #8c7f7c);
  text-align: center;

  /* Header/H5 */
  font-family: "Do Hyeon";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
}

.tab-button.active {
  border: 1px solid var(--Brown-50, #b4aba9);
  background: var(--Neutral-White, #fff);

  color: var(--Brown-300, #3c2520);
}

#specials-mobile-nav {
  display: none;

  @media (width < 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
}

#day-of-the-week {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 100px;
  border: 1px solid var(--Brown-50, #b4aba9);
  background: var(--Backgrounds-Primary, #fff);

  color: var(--Brown-300, #3c2520);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Header/H6 */
  font-family: "Do Hyeon";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 23.94px */
}

.mobile-nav-button {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  border: 1px solid var(--Brown-50, #b4aba9);
  background: var(--Backgrounds-Primary, #fff);
}

.special-card {
  width: 1000px;
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 60px;

  border-radius: 32px;
  border: 1px solid var(--Brown-25, #e7e4e3);
  background: var(--Neutral-White, #fff);

  /* Elevation/Sm */
  box-shadow: 0px 4px 20px 4px rgba(60, 37, 32, 0.08);

  @media (width < 480px) {
    width: 320px;
    flex-direction: column;
    padding: 20px;
    gap: 40px;

    border-radius: 20px;
  }
}

.special-image {
  display: flex;
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 24px;
  background: #fff;

  @media (width < 480px) {
    width: 320px;
    border-radius: 16px;
  }
}

.special-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  @media (width < 480px) {
    gap: 20px;
  }
}

.special-card-header {
  @media (width < 480px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
}

.special-title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;

  @media (width < 480px) {
    gap: 8px;
  }
}

.special-name {
  color: var(--Brown-300, #3c2520);

  /* Header/H3 */
  font-family: "Do Hyeon";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */

  @media (width < 480px) {
    font-size: 20px;
    line-height: 133%;
  }
}

.special-energy {
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  background: #26aa53;

  color: var(--Neutral-White, #fff);

  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%; /* 21.28px */

  @media (width < 480px) {
    padding: 4px 16px;

    font-size: 12px;
    line-height: 133%;
  }
}

.special-price {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.special-discounted-price {
  color: var(--Brown-200, #64524e);

  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%; /* 26.6px */

  @media (width < 480px) {
    font-size: 16px;
  }
}

.special-regular-price {
  color: #c3a69f;

  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133%; /* 23.94px */

  text-decoration: line-through solid #c3a69f 2px;

  @media (width < 480px) {
    font-size: 14px;
  }
}

.special-description {
  align-self: stretch;
  color: var(--Brown-200, #64524e);

  /* Body Md/Regular */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 21.28px */

  @media (width < 480px) {
    font-size: 14px;
  }
}

.cart-button {
  width: 120px;
  height: 32px;

  display: flex;
  padding: 8px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 12px;
  border: 3px solid var(--Brown-300, #3c2520);
  background: var(--Neutral-White, #fff);

  color: var(--Brown-300, #3c2520);
  font-family: "Do Hyeon";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */

  @media (width < 480px) {
    width: auto;
  }
}

#location-section {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @media (width < 480px) {
    padding: 20px 0px;
    gap: 20px;
  }
}

#location-header {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  @media (width < 480px) {
    gap: 0px;
    line-height: 133%;
  }
}

#location-title {
  color: var(--Brown-300, #3c2520);

  font-size: 48px;

  @media (width < 480px) {
    font-size: 24px;
  }
}

#location-title-decoration-desktop {
  z-index: -1;
  position: relative;
  top: -20px;

  @media (width < 480px) {
    display: none;
  }
}

#location-title-decoration-mobile {
  display: none;

  @media (width < 480px) {
    z-index: -1;
    position: relative;
    top: -10px;
  }
}

#location-subtitle {
  width: 70%;
  color: var(--Brown-200, #64524e);
  text-align: center;

  font-size: 20px;

  @media (width < 480px) {
    font-size: 14px;
  }
}

#location-content {
  display: flex;
  align-items: center;
  gap: 80px;

  @media (width < 480px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
  }
}

#google-map {
  width: 560px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--Gray-5, #e0e0e0);
  background: #fff;
  box-shadow: 0px 0px 20px 4px rgba(37, 63, 68, 0.08);

  @media (width < 480px) {
    width: calc(100vw - 16px);
    height: 240px;
  }
}

#location-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;

  @media (width < 480px) {
    gap: 8px;
  }
}

#location-details {
  display: flex;
  padding: 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 20px;
  background: #f5f5f5;

  @media (width < 480px) {
    padding: 16px;
    gap: 8px;
  }
}

#address {
  color: var(--Brown-300, #3C2520); 

  font-family: "Do Hyeon";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (width < 480px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 133%;
  }
}

#opening-hours {
  color: var(--Brown-100, #8C7F7C); 

  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (width < 480px) {
    font-size: 14px;
    font-weight: 600;
    line-height: 133%;
  }
}

#contact-details {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (width < 480px) {
    padding: 16px;
    gap: 16px;

    line-height: 133%;
    text-align: center;
  }
}

#enquiries-text {
  align-self: stretch;
  color: #000;

  font-size: 24px;

  @media (width < 480px) {
    font-size: 14px;
  }
}

#contact-methods {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

  @media (width < 480px) {
    gap: 8px;
  }
}

.contact-method {
  display: flex;
  align-items: center;
  gap: 16px;
  /* align-self: stretch;
  flex: 1 0 0; */
  color: #686868;

  font-size: 20px;

  @media (width < 480px) {
    font-size: 14px;
    margin: auto;
  }
}

#main-footer {
  display: flex;
  width: calc(100% - 160px);
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  border-top: 1px solid var(--Brown-25, #e7e4e3);

  @media (width < 480px) {
    width: calc(100% - 40px);
    padding: 40px 20px 140px 20px;
    gap: 20px;
  }
}

#copyright {
  color: var(--Brown-200, #64524e);
  text-align: center;

  /* Header/H6 */
  font-family: "Do Hyeon";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 23.94px */

  @media (width < 480px) {
    font-size: 14px;
  }
}

#social-media {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (width < 480px) {
    gap: 8px;
  }
}

.social-medium {
  color: var(--Brown-200, #64524e);

  /* Body Md/Medium */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%; /* 21.28px */

  @media (width < 480px) {
    font-size: 14px;
  }
}

#mobile-bottom-bar {
  display: none;

  @media (width < 480px) {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: calc(100% - 32px);
    z-index: 2;

    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 16px 16px 0px 0px;
    border-top: 1px solid var(--Neutral-25, #f7f7f7);
    background: var(--Neutral-White, #fff);
    box-shadow: 0px -4px 20px 0px rgba(6, 16, 35, 0.04);
  }
}

#weekly-sale-button-mobile {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 12px;
  border: 2px solid var(--Special-Red, #f44336);
  background: var(--Neutral-White, #fff);

  color: var(--Special-Red, #f44336);
  font-family: "Do Hyeon";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
}

#order-button-mobile {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 12px;
  background: var(--Neutral-300, #061023);

  color: var(--Neutral-White, var(--Backgrounds-Primary, #fff));
  font-family: "Do Hyeon";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
}

/* start of subpages styling */

#subpage-header {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media (width < 480px) {
    align-self: stretch;
    padding: 0px 16px;
    gap: 8px;
  }
}

#subpage-title {
  color: var(--Brown-300, #3c2520);
  text-align: center;

  /* Header/H1 */
  font-family: "Do Hyeon";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 63.84px */

  @media (width < 480px) {
    font-size: 24px;
  }
}

#subpage-subtitle {
  align-self: stretch;

  color: var(--Brown-200, #64524e);
  text-align: center;

  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%; /* 26.6px */

  @media (width < 480px) {
    font-size: 16px;
  }
}

#subpage-images {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.subpage-image {
  border-radius: 20px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;

  @media (width < 480px) {
    width: calc(100% - 16px);
  }
}

/* end of subpages styling */
